.footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
    width: 1500px;
  }
  
  .footer p {
    margin: 0;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons li {
    margin: 0 10px;
  }
  
  .social-icons a {
    color: #555;
    font-size: 20px;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }
  